[submodule "consistency_models/--force"]
	path = consistency_models/--force
	url = https://github.com/rsn870/Clone_of_simo_fork
	branch = modifications
[submodule "pfgmpp/--force"]
	path = pfgmpp/--force
	url = https://github.com/rsn870/pfgmpp_fork.git
	branch = mods
